* {
  color: white;
  font-family: 'Marcellus', serif;
  background: #0b1127;
}

main {
  padding-top: 10px;
}

main .row {
  margin-bottom: 20px;
}

.logo{
  height: 12em;
  width: auto;
}

.title {
  background: #0b1127;
  padding: 5px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.clock {
  height: 100px;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}

.weather {
  height: 300px;
  text-align: center;
  padding-top: 30px;
/*  background-color: orange;*/
  font-size: 2em;
}

.moon {
  height: 300px;
  text-align: center;
  padding-top: 30px;
  /*background-color: purple;*/
}
#moonCanvas {
  display:block;
  float: center;
}

.nasaPic {
  height: 700px;
  text-align: center;
  padding-top: 30px;
}
.nasaSize {
  width: 100%;
}

.calendar {
  height: 200px;
  padding-top: 30px;
}

div#calendar {
  width: 50%;
}
#json pre {
  clear: left;
  margin-top: 21px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
  height: 220px;
  color: #FFF;
  border: 1px solid #E47B7B;
}

.event {
  height: 250px;
  text-align: center;
  padding-top: 30px;
}

.tweetwidget {
  height: 250px;
  text-align: center;
  padding-top: 30px;
}